%html
  %head
    %meta{:content => "Microsoft Visual Studio 6.0", :name => "GENERATOR"}/
    %title About this site
    %link{:href => "ipedigree.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %p
      TollerData is an open database for pedigree information on Nova Scotia Duck Tolling Retrievers or Tollers for short.
      Many Toller breeders and fanciers maintain their own pedigree databases for pedigree research. TollerData is a web site that
      serves a similar but public function. The data here is editable by many breeders and can be viewed by anybody. By combining
      resources, the set of data that is available is larger and new/corrected information can proliferate to more people more quickly.
      TollerData doesn't replace the private pedigree database; it supplements it.
    %p
      TollerData is
      %b not
      a registry. Registries are organizations like the AKC, UKC, CKC, KC, etc., which register dogs for a
      fee and keep extensive pedigree records. TollerData is merely a database. Most of the dogs in this database are probably
      registered with one or more registries, or they may not be registered at all. Any registered user, not just the owner or breeder
      of the dog, may enter pedigree information. We do not review the information and we make absolutely no claims as to its accuracy.
      TollerData is a good place to start your pedigree research, but if accuracy of information is important, you should independently
      verify the accuracy of the information you find.
    %p To verify the accuracy of pedigree and other information, here are some useful sources:
    %p
      \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Registries like the
      = succeed "," do
        %a{:href => "http://www.akc.org/"} AKC
      = succeed "," do
        %a{:href => "http://www.ckc.ca"} CKC
      = succeed "," do
        %a{:href => "http://www.ukcdogs.com"}
          UKC
      etc. can be used to verify pedigree information for registered dogs.
    %p
      \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Health clearances may be verified at health registries such as
      %a{:href => "http://www.offa.org"} OFA
      and CERF.
    %p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The breeder(s) and/or owner(s) of the dog may be consulted.
    %p
      \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Privately maintained databases may contain more accurate information. Dave Harding, My Skold, and
      Laura Smith all maintain private databases.
    %p
      By using this site, you agree not to publish, post, upload or disseminate any inappropriate, profane, defamatory or unlawful
      information.
    %p
      This database consists entirely of information provided by end users. The providers of this site hereby disclaim any liability
      for the accuracy or meaning of any such information provided in the site. Users hereby agree to use or rely on such information
      at their own risk.
    %p
      We provide no warranty, express or implied, as to the accuracy of any such information, and user agrees to hold the site operator
      or any successor or representative thereof harmless from any claim of liability or damage resulting from use of any information
      provided for any purpose, personal or commercial.
    %p
      If, when using this site, you discover information that is incorrect, please either correct it yourself (if you have access) or
      contact me at
      %a{:href => "mailto:Tollerdata@toller-L.org"} Tollerdata@toller-L.org
    %p
      If you like the TollerData pedigree database but your breed is not Tollers, contact Amy Burzynski at
      = succeed "." do
        %a{:href => "mailto:amybu@attbi.com"}
          amybu@attbi.com
      TollerData is a licensed version of her Golden Retriever database called K9Data.
    %p
      %a{:href => "default.asp"} Return to home page
    %p &nbsp;
