// -*- mode:css -*-

#prototype {
  display: none;
}

.above {
 padding-top: 0.5ex;
}

.below {
  padding-bottom: 0.5ex;
}

.about > .hr {
  width: 100%;
  height: 1px;
  background: black;
}

.parents {
  vertical-align: middle;
  display: inline-block;
}


.about {
  vertical-align: middle;
  display: inline-block;
}

.above > div, .below > div {
  padding-left: 0.5ex;
}

.above, .below {
  border-left-style: solid;
  border-left-width: 10px;
}

.above {
  padding-bottom: 0.25ex;
}

.below {
  padding-top: 0.25ex;
  height: 100%;
}

.space {
  min-height: 1ex;
  border-left-style: solid;
  border-left-width: 10px;
}

#spinner {
  cursor: pointer;
}
