// Place all the styles related to the tollerdata/healths controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#THR {
  .title {
    position: absolute;
    font-size: 3ex;
    line-height: 2ex;
    font-weight: bold;
    width: 15ex;
    text-align: center;
  }

  .name {
    padding-top: 1ex;
    padding-bottom: 2ex;
    width: 100%;
    font-size: 3ex;
    line-height: 2ex;
    font-weight: bold;
    text-align: center;
  }

  #navigation {
    width: 25%;
    padding-left: 1ex;
    list-style-type: none;
    li {
      margin-top: 1ex;
      font-size: 1.7ex;
      font-weight: bold;
    }
  }

}